.executorFilter {
    position: absolute;
    background-color: #313131;
    color: #FFF;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    Width: 248px;
    Height: 305px ;
    Top: 288px ;
    Left: 448px ;
    border-radius: 12px ;
    Padding: 34px ;
    Gap: 28px;
    overflow: hidden;
    overflow-y: scroll;
}
.executorFilter::-webkit-scrollbar {
    width: 6px;
    background-color: #313131;
    border-radius: 5px;
}
.executorFilter::-webkit-scrollbar-thumb {
    background-color: #f9f9fd;
    border-radius: 5px;
}
.yearFilter :hover{
    color: #B672FF;
}
.executorFilter :hover{
    color: #B672FF;
}
.genryFilter :hover{
    color: #B672FF;
}
.yearFilter {
    position: absolute;
    background-color: #313131;
    color: #FFF;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    Width: 248px;
    Height: 305px ;
    Top: 288px ;
    Left: 600px ;
    border-radius: 12px ;
    Padding: 34px ;
    Gap: 28px;
}

.genryFilter {
    position: absolute;
    background-color: #313131;
    color: #FFF;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    Width: 248px;
    Height: 305px ;
    Top: 288px ;
    Left: 748px ;
    border-radius: 12px ;
    Padding: 34px ;
    Gap: 28px;
}
.Executor_text{
    color: #d9d9d9;
    text-decoration: none;
}